<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">

    <mat-card>
      <mat-card-content>
        <h2>Floor items</h2>

        <a color="primary" [routerLink]="['/project-floor']">
          Back to floors
        </a>

        <div class="container">

          <div class="mt10 pl10 pr9" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="flex-end">

            <mat-form-field>
              <mat-placeholder>Search</mat-placeholder>
              <input matInput type="search" [(ngModel)]="searchValue">
              <button mat-icon-button matSuffix color="primary" aria-label="search">
                <mat-icon>search</mat-icon>
              </button>
            </mat-form-field>
            <button mat-flat-button color="primary" class="createBtn" (click)="openDialog(null)">Create<mat-icon>add
              </mat-icon></button>

          </div>

          <table mat-table [dataSource]="floorItemsList" #myTable class="my-table mat-elevation-z8">

            <!-- Position Column -->
            <ng-container matColumnDef="floor">
              <th mat-header-cell *matHeaderCellDef> Floor </th>
              <td mat-cell *matCellDef="let element"> {{element.projectFloor.floorValue}} </td>
            </ng-container>


            <ng-container matColumnDef="floorItem">
              <th mat-header-cell *matHeaderCellDef> Item </th>
              <td mat-cell *matCellDef="let element"> {{element.floorItemItem.name}} </td>
            </ng-container>


            <ng-container matColumnDef="normalQuantity">
              <th mat-header-cell *matHeaderCellDef> Normal quantity </th>
              <td mat-cell *matCellDef="let element"> {{element.floorItemNormalQuantity}} </td>
            </ng-container>


            <ng-container matColumnDef="maximumQuantity">
              <th mat-header-cell *matHeaderCellDef> Maximum quantity </th>
              <td mat-cell *matCellDef="let element"> {{element.floorItemMaximumQuantity}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="usedQuantity">
              <th mat-header-cell *matHeaderCellDef> Actual quantity used </th>
              <td mat-cell *matCellDef="let element"> {{element.floorItemUsedQuantity}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="floorItemStatus">
              <th mat-header-cell *matHeaderCellDef> Usage status </th>
              <td mat-cell *matCellDef="let element"> {{element.floorItemStatus.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="usageReport">
              <th mat-header-cell *matHeaderCellDef> Usage report </th>
              <td mat-cell *matCellDef="let element"> {{element.floorItemStatusReport}} </td>
            </ng-container>

            <!-- Action Column-->
            <ng-container matColumnDef="action" class="text-center">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="Click to Edit" (click)="openDialog(element)" class="iconbutton"
                  color="accent">
                  <mat-icon>edit</mat-icon>
                </button>


                <button mat-icon-button matTooltip="update used items" (click)="updateUsedItem(element)" class="iconbutton"
                color="accent">
                <mat-icon>update</mat-icon>
              </button>
                

                <button mat-icon-button matTooltip="Click to delete" (click)="delete(element)" class="iconbutton"
                  color="warn">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>

        <ng-template #orgModal>
          <h2 mat-dialog-title class="text-center">Floor item</h2>

          <mat-dialog-content [formGroup]="form">

            <mat-form-field class="full-width" >
              <mat-label>Project floor</mat-label>
              <mat-select  formControlName="floorItemProjectFloorId">

                <mat-option  *ngFor="let f of projectFloorsList" [value]="f.id">{{f.floorValue}}</mat-option>
              </mat-select>
              <mat-error *ngIf="form.controls['floorItemProjectFloorId'].hasError('required')">
                project floor
                <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Item</mat-label>
              <mat-select readonly="updateItemUsage" formControlName="floorItemItemId">

                <mat-option *ngFor="let i of itemsList" [value]="i.id">{{i.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="form.controls['floorItemItemId'].hasError('required')">
                Item is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">

              <input matInput placeholder="Normal quantity" formControlName="floorItemNormalQuantity"
                autocomplete="name" type="number">
              <mat-error *ngIf="form.controls['floorItemNormalQuantity'].hasError('required')">
                Normal quantity is
                <strong>required</strong>
              </mat-error>

            </mat-form-field>

            <mat-form-field class="full-width">

              <input matInput placeholder="Maximum quantity" formControlName="floorItemMaximumQuantity"
                autocomplete="name" type="number">
              <mat-error *ngIf="form.controls['floorItemMaximumQuantity'].hasError('required')">
                Maximum quantity is
                <strong>required</strong>
              </mat-error>

            </mat-form-field>


            <mat-form-field class="full-width">

              <input matInput placeholder="Used quantity" formControlName="floorItemUsedQuantity" autocomplete="name"
                type="number">
              <mat-error *ngIf="form.controls['floorItemUsedQuantity'].hasError('required')">
                Used quantity is
                <strong>required</strong>
              </mat-error>

            </mat-form-field>


          </mat-dialog-content>

          <mat-dialog-actions fxLayout="row" fxLayoutGap="10Px" fxLayoutAlign="flex-end">
            <button class="mat-raised-button mat-accent" (click)="close()">Close</button>
            <button class="mat-raised-button mat-primary" (click)="save()" [disabled]="(form.invalid)">Save</button>
          </mat-dialog-actions>

        </ng-template>


      </mat-card-content>
    </mat-card>

  </div>
</div>