<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">

    <mat-card>
      <mat-card-content>
        <h2>Organizations</h2>
        <div class="container">

          <div class="mt10 pl10 pr9" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="flex-end">

            <mat-form-field>
              <mat-placeholder>Search</mat-placeholder>
              <input matInput type="search" [(ngModel)]="searchValue">
              <button mat-icon-button matSuffix color="primary" aria-label="search">
                <mat-icon>search</mat-icon>
              </button>
            </mat-form-field>
            <button mat-flat-button color="primary" class="createBtn" (click)="openDialog(null)">Create<mat-icon>add
              </mat-icon></button>
            <!-- <button mat-mini-fab color="primary" [routerLink]="['/users/add']">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-mini-fab color="primary" [routerLink]="['/users/upload']">
      <mat-icon>publish</mat-icon>
    </button> -->

          </div>
          <!-- <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Row</button> -->

          <table mat-table [dataSource]="orgList" #myTable class="my-table mat-elevation-z8">

            <!-- Position Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="mobile">
              <th mat-header-cell *matHeaderCellDef> Mobile </th>
              <td mat-cell *matCellDef="let element"> {{element.mobileNumber}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="physical address">
              <th mat-header-cell *matHeaderCellDef> Physical Address </th>
              <td mat-cell *matCellDef="let element"> {{element.physicalAddress}} </td>
            </ng-container>

            <!-- <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-fab color="primary" >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container> -->

            <!-- Action Column-->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="Click to Edit" (click)="openDialog(element)" class="iconbutton"
                  color="accent">
                  <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button matTooltip="Click to delete" (click)="delete(element)" class="iconbutton"
                  color="warn">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <!-- (click)="edit(element) -->




            <!-- <div class="example-button-container">
       
      </div> -->

            <!-- Symbol Column -->
            <ng-container matColumnDef="postal address">
              <th mat-header-cell *matHeaderCellDef> Postal Address </th>
              <td mat-cell *matCellDef="let element"> {{element.postalAddress}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>

        <ng-template #orgModal>
          <h2 mat-dialog-title class="text-center">ORGANIZATION</h2>

          <mat-dialog-content [formGroup]="form">

            <mat-form-field class="full-width">

              <input id="nameInput" matInput placeholder="Name" formControlName="name" autocomplete="name" type="name">
              <mat-error *ngIf="form.controls['name'].hasError('required')">
                Name is
                <strong>required</strong>
              </mat-error>

            </mat-form-field>

            <mat-form-field class="full-width">

              <input id="mobileInput" matInput placeholder="Mobile number" formControlName="mobileNumber"
                autocomplete="mobile" type="mobile">
              <mat-error *ngIf="form.controls['email'].hasError('required')">
                Mobile number is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">

              <input id="emailInput" matInput placeholder="Email" formControlName="email" autocomplete="email"
                type="email">
              <mat-error id="invalidEmailError" *ngIf="form.controls['email'].hasError('email')">
                Please enter a valid email address
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">

              <input id="physicaAddress" matInput placeholder="Physical address" formControlName="physicalAddress"
                autocomplete="physical" type="string">

              <mat-error *ngIf="form.controls['physicalAddress'].hasError('required')">
                Physical address is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">

              <input id="postalInput" matInput placeholder="Postal code" formControlName="postalAddress"
                autocomplete="postal" type="string">
              <mat-error *ngIf="form.controls['postalAddress'].hasError('required')">
                Postal address is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>

          </mat-dialog-content>

          <mat-dialog-actions fxLayout="row" fxLayoutGap="10Px" fxLayoutAlign="flex-end">
            <button class="mat-raised-button mat-accent" (click)="close()">Close</button>
            <button class="mat-raised-button mat-primary" (click)="save()" [disabled]="(form.invalid)">Save</button>
          </mat-dialog-actions>

        </ng-template>


      </mat-card-content>
    </mat-card>

  </div>
</div>