<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
  
      <mat-card>
        <mat-card-content>
          <h2>Projects</h2>
  
          <div class="container">
           
               <div class="mt10 pl10 pr9" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="flex-end">
               
               <mat-form-field>
                <mat-placeholder>Search</mat-placeholder>
                <input matInput type="search" [(ngModel)]="searchValue">
                <button mat-icon-button matSuffix color="primary" aria-label="search">
                  <mat-icon>search</mat-icon>
                </button>
              </mat-form-field>
              <button mat-flat-button color="primary" class="createBtn" (click)="openDialog(null)">Create<mat-icon>add</mat-icon></button>
           
              </div>
              
              <table mat-table  [dataSource]="projectsList" #myTable class="my-table mat-elevation-z8">
            
                <!-- Position Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
            

                <ng-container matColumnDef="ref">
                    <th mat-header-cell *matHeaderCellDef> Reference </th>
                    <td mat-cell *matCellDef="let element"> {{element.reference}} </td>
                  </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="desc">
                  <th mat-header-cell *matHeaderCellDef> Description </th>
                  <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
                </ng-container>
          
                <!-- Name Column -->
                <ng-container matColumnDef="wef">
                  <th mat-header-cell *matHeaderCellDef> WEF </th>
                  <td mat-cell *matCellDef="let element"> {{element.projWef}} </td>
                </ng-container>
            
                <!-- Weight Column -->
                <ng-container matColumnDef="wet">
                  <th mat-header-cell *matHeaderCellDef> WET </th>
                  <td mat-cell *matCellDef="let element"> {{element.projWef}} </td>
                </ng-container>
  
                  <!-- Weight Column -->
                  <ng-container matColumnDef="selection">
                    <th mat-header-cell *matHeaderCellDef> Selection type </th>
                    <td mat-cell *matCellDef="let element"> {{element.selectionType}} </td>
                  </ng-container>
          
                <!-- Weight Column -->
                <ng-container matColumnDef="org">
                  <th mat-header-cell *matHeaderCellDef> Organization </th>
                  <td mat-cell *matCellDef="let element"> {{element.projOrganization}} </td>
                </ng-container>

                 <!-- Weight Column -->
                 <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef> Category </th>
                    <td mat-cell *matCellDef="let element"> {{element.projCategory.name}} </td>
                  </ng-container>

                  <ng-container matColumnDef="creationDate">
                    <th mat-header-cell *matHeaderCellDef> Reset </th>
                    <td mat-cell *matCellDef="let element"> {{element.creationDate}} </td>
                  </ng-container>

                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.projStatus.name}} </td>
                  </ng-container>
                  
                <!-- Action Column-->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef > Actions </th>
                <td mat-cell *matCellDef="let element"> 
                  <button mat-icon-button matTooltip="Click to Edit" (click)="openDialog(element)" class="iconbutton" color="accent" >
                    <mat-icon>edit</mat-icon>
                  </button>
          
                  <button mat-icon-button matTooltip="Click to delete" (click)="delete(element)" class="iconbutton" color="warn" >
                    <mat-icon>delete</mat-icon>
                  </button> 
                </td>
                </ng-container>
          
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                             
                             
                             showFirstLastButtons 
                             aria-label="Select page of periodic elements">
              </mat-paginator>
            </div>
          
          <ng-template #orgModal>
              <h2 mat-dialog-title class="text-center">Project</h2>
          
          <mat-dialog-content [formGroup]="form">
            
            <mat-form-field class="full-width">
                
              <input id="nameInput" matInput placeholder="Name" formControlName="name" autocomplete="name"
              type="name">
              <mat-error  *ngIf="form.controls['name'].hasError('required')">
                project name is
                <strong>required</strong>
            </mat-error>
                      
            </mat-form-field>
          
            <mat-form-field class="full-width">
                
              <input  matInput placeholder="Description" formControlName="desc" autocomplete="desc"
              type="text">
              <mat-error  *ngIf="form.controls['desc'].hasError('required')">
                Description is
                <strong>required</strong>
            </mat-error>  
            </mat-form-field>

            <!-- date range wef-wet -->
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Enter a date range of project duration</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate formControlName="projWef" placeholder="Start date">
                  <input matEndDate formControlName="projWet" placeholder="End date">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              
                <mat-error *ngIf="form.controls['projWef'].hasError('matStartDateInvalid')">Invalid start date</mat-error>
                <mat-error *ngIf="form.controls['projWet'].hasError('matEndDateInvalid')">Invalid end date</mat-error>
              </mat-form-field>
            <!--  -->
          
              <mat-form-field class="full-width">
                
                <input matInput placeholder="Selection type" formControlName="selectionType" autocomplete="selectionType"
                type="string">
                         <mat-error *ngIf="form.controls['selectionType'].hasError('required')">
                            selection type is
                            <strong>required</strong>
                      </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Project category</mat-label>
                <mat-select formControlName="statusId" multiple>
                 
                  <mat-option *ngFor="let c of categories" [value]="c.id">{{c.name}}</mat-option>
                </mat-select>
                <mat-error  *ngIf="form.controls['categoryId'].hasError('required')">
                  project category
                  <strong>required</strong>
              </mat-error> 
              </mat-form-field>
  
              <mat-form-field class="full-width">
                <mat-label>Poject status type</mat-label>
                <mat-select formControlName="statusId" multiple>
                 
                  <mat-option *ngFor="let s of statusList" [value]="s.id">{{s.name}}</mat-option>
                </mat-select>
                <mat-error  *ngIf="form.controls['statusId'].hasError('required')">
                  project status
                  <strong>required</strong>
              </mat-error> 
              </mat-form-field>


              <mat-form-field class="full-width">
                <mat-label>Project users</mat-label>
                <mat-select formControlName="usersIds" multiple>
                 
                  <mat-option *ngFor="let u of usersList" [value]="u.id">{{u.userFullName}}</mat-option>
                </mat-select>
              
              </mat-form-field>
  

  
          </mat-dialog-content>
          
          <mat-dialog-actions fxLayout="row" fxLayoutGap="10Px" fxLayoutAlign="flex-end">
              <button class="mat-raised-button mat-accent"(click)="close()">Close</button>
              <button class="mat-raised-button mat-primary"(click)="save()" [disabled]="(form.invalid)"  >Save</button>
          </mat-dialog-actions>
            
            </ng-template>
            
  
        </mat-card-content>
      </mat-card>
  
    </div>
  </div>