<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">

    <mat-card>
      <mat-card-content>
        <h2>Users</h2>

        <div class="container">
         
             <div class="mt10 pl10 pr9" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="flex-end">
             
             <mat-form-field>
              <mat-placeholder>Search name/mobile</mat-placeholder>
              <input matInput type="search" [(ngModel)]="searchValue">
              <button mat-icon-button matSuffix (click)="getPaginatedUsers()" color="primary" aria-label="search">
                <mat-icon>search</mat-icon>
              </button>
            </mat-form-field>
            <button mat-flat-button color="primary" class="createBtn" (click)="openDialog(null)">Create<mat-icon>add</mat-icon></button>
         
            </div>
             <!-- <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Row</button> -->
            
            <table mat-table  [dataSource]="usersList" #myTable class="my-table mat-elevation-z8">
          
              <!-- Position Column -->
              <ng-container matColumnDef="names">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.userFullName}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="mobile">
                <th mat-header-cell *matHeaderCellDef> Mobile </th>
                <td mat-cell *matCellDef="let element"> {{element.userMobile}} </td>
              </ng-container>
        
              <!-- Name Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.userEmail}} </td>
              </ng-container>

               <!-- Name Column -->
               <ng-container matColumnDef="org">
                <th mat-header-cell *matHeaderCellDef> Organization </th>
                <td mat-cell *matCellDef="let element"> {{element.userOrg.name}} </td>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> User type </th>
                <td mat-cell *matCellDef="let element"> {{element.userType.name}} </td>
              </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Status </th>
                  <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>
        
              <!-- Weight Column -->
              <ng-container matColumnDef="reset">
                <th mat-header-cell *matHeaderCellDef> Reset </th>
                <td mat-cell *matCellDef="let element"> {{element.userReset}} </td>
              </ng-container>
              <!-- Action Column-->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef > Actions </th>
              <td mat-cell *matCellDef="let element"> 
                <button mat-icon-button matTooltip="Click to Edit" (click)="openDialog(element)" class="iconbutton" color="accent" >
                  <mat-icon>edit</mat-icon>
                </button>
        
                <button mat-icon-button matTooltip="Click to delete" (click)="delete(element)" class="iconbutton" color="warn" >
                  <mat-icon>delete</mat-icon>
                </button> 
              </td>
              </ng-container>
        

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                           
                           (page)="handlePageEvent($event)"
                           showFirstLastButtons 
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
        
        <ng-template #orgModal>
            <h2 mat-dialog-title class="text-center">USER</h2>
        
        <mat-dialog-content [formGroup]="form">

          <mat-form-field class="full-width">
            <mat-label>User organization</mat-label>
            <mat-select formControlName="userOrgId">
             
              <mat-option *ngFor="let og of orgsList" [value]="og.id">{{og.name}}</mat-option>
            </mat-select>
            <mat-error  *ngIf="form.controls['userOrgId'].hasError('required')">
              user organization
              <strong>required</strong>
          </mat-error> 
          </mat-form-field>
          
          <mat-form-field class="full-width">
              
            <input id="nameInput" matInput placeholder="Name" formControlName="userFullName" autocomplete="name"
            type="name">
            <mat-error  *ngIf="form.controls['userFullName'].hasError('required')">
              Names are
              <strong>required</strong>
          </mat-error>
                    
          </mat-form-field>
        
          <mat-form-field class="full-width">
              
            <input id="mobileInput" matInput placeholder="Mobile number" formControlName="userMobile" autocomplete="mobile"
            type="mobile">
            <mat-error  *ngIf="form.controls['userMobile'].hasError('required')">
              Mobile number is
              <strong>required</strong>
          </mat-error>  
          </mat-form-field>
        
            <mat-form-field class="full-width">
              
              <input id="emailInput" matInput placeholder="Email" formControlName="userEmail" autocomplete="email"
              type="email">
                       <mat-error id="invalidEmailError" *ngIf="form.controls['userEmail'].hasError('userEmail')">
                        Please enter a valid email address
                    </mat-error>
            </mat-form-field>

            <mat-form-field  *ngIf="create" class="full-width">
              
              <input id="emailInput" matInput placeholder="password" formControlName="userPassword" autocomplete="email"
              type="email">
                       <mat-error id="userPassword" *ngIf="form.controls['userPassword'].hasError('userEmail')">
                        Password required
                    </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>User type</mat-label>
              <mat-select formControlName="userTypeId">
               
                <mat-option *ngFor="let t of userTypes" [value]="t.id">{{t.name}}</mat-option>
              </mat-select>
              <mat-error  *ngIf="form.controls['groupsIds'].hasError('required')">
                user type
                <strong>required</strong>
            </mat-error> 
            </mat-form-field>
            
            <mat-form-field class="full-width">
              <mat-label>USER ACTIVE</mat-label>
              <mat-select formControlName="userStatus">
                <mat-option  value="Y">YES</mat-option>
                <mat-option  value="N">NO</mat-option>
              </mat-select>
              <mat-error  *ngIf="form.controls['userStatus'].hasError('required')">
                user status is
                <strong>required</strong>
            </mat-error> 
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>USER RESET</mat-label>
              <mat-select formControlName="userReset">
                <mat-option  value="Y">YES</mat-option>
                <mat-option  value="N">NO</mat-option>
              </mat-select>
              <mat-error  *ngIf="form.controls['userReset'].hasError('required')">
                user status is
                <strong>required</strong>
            </mat-error> 
            </mat-form-field>
        
            <mat-form-field class="full-width">
              <mat-label>Groups</mat-label>
              <mat-select formControlName="groupsIds" multiple>
               
                <mat-option *ngFor="let g of groupsList" [value]="g.id">{{g.name}}</mat-option>
              </mat-select>
              <mat-error  *ngIf="form.controls['groupsIds'].hasError('required')">
                user must be at least in 1
                <strong>group</strong>
            </mat-error> 
            </mat-form-field>


            <mat-form-field class="full-width">
              <mat-label>projects</mat-label>
              <mat-select formControlName="projectsIds" multiple>
               
                <mat-option *ngFor="let p of projectsList" [value]="p.id">{{p.name}}</mat-option>
              </mat-select>
              
            </mat-form-field>

        </mat-dialog-content>
        
        <mat-dialog-actions fxLayout="row" fxLayoutGap="10Px" fxLayoutAlign="flex-end">
            <button class="mat-raised-button mat-accent"(click)="close()">Close</button>
            <button class="mat-raised-button mat-primary"(click)="save()" [disabled]="(form.invalid)"  >Save</button>
        </mat-dialog-actions>
          
          </ng-template>
          

      </mat-card-content>
    </mat-card>

  </div>
</div>